
  .vehicle-container {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: auto;
    text-align: center;
  }

  .vehicle-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }

  .vehicle-table th,
  .vehicle-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .vehicle-table thead th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }

  .vehicle-table tbody tr.available:nth-child(odd) {
    background-color: #ffffff;
  }

  .vehicle-table tbody tr.available:nth-child(even) {
    background-color: #f9f9f9;
  }

  .vehicle-table tbody tr.available:hover {
    background-color: #f1f1f1;
  }

  .vehicle-table tbody tr.repair:nth-child(odd) {
    background-color: #FFFFB3;
  }

  .vehicle-table tbody tr.repair:nth-child(even) {
    background-color: #FFF3B0;
  }

  .vehicle-table tbody tr.repair:hover {
    background-color: #F7E08C;
  }

  .vehicle-table tbody tr.reserved:nth-child(odd) {
    background-color: #FFB3B3;
  }

  .vehicle-table tbody tr.reserved:nth-child(even) {
    background-color: #FF99A4;
  }

  .vehicle-table tbody tr.reserved:hover {
    background-color: #FF8C8C;
  }

  .reserve-button {
    padding: 5px 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .reserve-button:hover {
    background-color: #cc3333;
  }

  .view-button {
    padding: 5px 10px;
    background-color: transparent;
    color: #e63946;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .view-button:hover {
    background-color: #ffe5e5;
    color: #e63946;
  }

  .vehicle-actions{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers buttons vertically */
    gap: 5px; /* Add spacing between buttons */
  }